.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #f2f4f7;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.logo {
	width: 100px;
}
.title {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	color: black;
	font-size: 30px;
}

.submit-button {
	border-color: 'grey';
	color: 'black';
}
.main-page-header {
	display: flex;
	justify-content: space-evenly;
	width: 350px;
	background-color: #f2f4f7;
	align-items: center;
}
.sub-header {
	display: flex;
	justify-content: space-between;
	width: 350px;
	align-items: center;
	height: 80px;
	border-bottom: 1px solid #d7d8dc;
}
.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 350px;
}
.btn-container {
	display: flex;
	justify-content: space-evenly;
	width: 350px;
}
.footer {
	border-top: 1px solid #d7d8dc;
	width: 350px;
}
.header {
	display: flex;
	flex-direction: column;
	background-color: #f2f4f7;
	height: 220px;
}
.send-footer {
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
